<!DOCTYPE html>
<html>
	<head> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<!-- Bootstrap -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="javascripts/main.js"></script>
	    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
	    <script> 
		    window.onbeforeunload = function () {
			  return false;
			}
	    </script>
	</head>
	<body>
		<nav class='navbar navbar-default'>
		  <div class='container-fluid'>
		    <div class='navbar-header'>
		      <a class='navbar-brand' href='/home'> Hair Desire Salon Database </a>
		    </div>
		    <ul class='nav navbar-nav'>
		      <li class='active'><a href='/home'> Home </a></li>
		    </ul>
		  </div>
		</nav>

		<h1> Hair Desire Salon New Client Form</h1>
		<p class="form-text text-muted">Don't worry. We'll never share your information with anyone else.</p>
		<div> 
		<form id ="new-client-form-center"> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">First Name </span></div>
			    <div class="col-sm-6">
			      <input type="first-name" class="form-control box-height-and-font" id="first-name"> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Last Name </span></div>
			    <div class="col-sm-6">
			      <input type="last-name" class="form-control box-height-and-font" id="last-name"> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Phone Number </span></div>
			    <div class="col-sm-6">
			      <input type="text" class="form-control box-height-and-font" id="phone-number" maxlength="10"> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Email </span></div>
			    <div class="col-sm-6">
			      <input type="email" class="form-control box-height-and-font" id="email"> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Address</span></div>
			    <div class="col-sm-6">
			      <input type="address" class="form-control box-height-and-font" id="address"> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">City/Town</span></div>
			    <div class="col-sm-6">
			      <input type="city" class="form-control box-height-and-font" id="city"> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">State</span></div>
				<div class="col-sm-6">
					<select class="form-control box-height-and-font" id="state" name="state">
						<option value="">Select your state</option>
						<option value="Alaska">Alaska</option>
						<option value="Alabama">Alabama</option>
						<option value="Arkansas">Arkansas</option>
						<option value="Arizona">Arizona</option>
						<option value="California">California</option>
						<option value="Colorado">Colorado</option>
						<option value="Connecticut">Connecticut</option>
						<option value="District of Columbia">District of Columbia</option>
						<option value="Delaware">Delaware</option>
						<option value="Florida">Florida</option>
						<option value="Georgia">Georgia</option>
						<option value="Hawaii">Hawaii</option>
						<option value="Iowa">Iowa</option>
						<option value="Idaho">Idaho</option>
						<option value="Illinois">Illinois</option>
						<option value="Indiana">Indiana</option>
						<option value="Kansas">Kansas</option>
						<option value="Kentucky">Kentucky</option>
						<option value="Louisiana">Louisiana</option>
						<option value="Massachusetts">Massachusetts</option>
						<option value="Maryland">Maryland</option>
						<option value="Maine">Maine</option>
						<option value="Michigan">Michigan</option>
						<option value="Minnesota">Minnesota</option>
						<option value="Missouri">Missouri</option>
						<option value="Mississippi">Mississippi</option>
						<option value="Montana">Montana</option>
						<option value="North Carolina">North Carolina</option>
						<option value="North Dakota">North Dakota</option>
						<option value="Nebraska">Nebraska</option>
						<option value="New Hampshire">New Hampshire</option>
						<option value="New Jersey">New Jersey</option>
						<option value="New Mexico">New Mexico</option>
						<option value="Nevada">Nevada</option>
						<option value="New York">New York</option>
						<option value="Ohio">Ohio</option>
						<option value="Oklahoma">Oklahoma</option>
						<option value="Oregon">Oregon</option>
						<option value="Pennsylvania">Pennsylvania</option>
						<option value="Puerto Rico">Puerto Rico</option>
						<option value="Rhode Island">Rhode Island</option>
						<option value="South Carolina">South Carolina</option>
						<option value="South Dakota">South Dakota</option>
						<option value="Tennessee">Tennessee</option>
						<option value="Texas">Texas</option>
						<option value="Utah">Utah</option>
						<option value="Virginia">Virginia</option>
						<option value="Vermont">Vermont</option>
						<option value="Washington">Washington</option>
						<option value="Wisconsin">Wisconsin</option>
						<option value="West Virginia">West Virginia</option>
						<option value="Wyoming">Wyoming</option>
					</select>
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Zip code</span></div>
			    <div class="col-sm-6">
			      <input type="zip" class="form-control box-height-and-font" id="zip" maxlength="5"> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Medication used</span></div>
			    <div class="col-sm-6">
			      <input type="medication" class="form-control box-height-and-font" id="medication"> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Surgery/pregnancy</span></div>
			    <div class="col-sm-6">
			      <input type="surgery-or-pregnancy" class="form-control box-height-and-font" id="surgery-or-pregnancy"> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Irritation/sensitivity</span></div>
			    <div class="col-sm-6">
			      <input type="text" class="form-control box-height-and-font" id="sensitivity"> 
				</div>
			</div>
			<br> 
			<br> 
		  	<div> 

		  	<div> <span class="span-vertical-align">Visits</span></div>
		  	<button onclick="return showNewVisitFormFirstTime()" class="btn btn-primary btn-block" style="width:35vw; display: inline; white-space: normal " id="button-show-new-visit-form"> + Add information about first visit </button>
			<div class="form-group-group" id="newVisitTA-first" style="display: none">
				<div class="panel-group" id="accordion-newvisit">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<span> Add information about first visit </span>
							<br> 
							<div class="form-group row">
								<div class="col-xs-12 col-md-2 open-close-button margin-for-visit-header" style="padding-top: 4.1%"> 
										<div style="float:right;">
										<button  onclick = "return exitNewVisitFormFirstTime()" class='btn btn-primary btn-block' style="background: crimson; white-space: normal; font-size: 2.25vw;"> Close </button>
										</div>
										<br> 
									</div> 
								<div class="col-xs-12 col-md-4 margin-for-visit-header" >
									<span> Date </span> 
									<br> 
									<input class="form-control box-height-and-font" style="font-size:2.25vw;" type="date" id="date"/>
								</div>
								<div class="col-xs-12 col-md-3 margin-for-visit-header" >
									<span> Time </span> 
									<br>
									<input type="text" class="form-control box-height-and-font" id="time" style="font-size:2.25vw;" /> 
								</div>
								<div class="col-xs-12 col-md-3 margin-for-visit-header">
									<span> Price </span> 
									<br> 
									<input type='number' class="form-control box-height-and-font" id="price" step='0.01' value='0.00' style="font-size:2.25vw;"/>
								</div>
							</div>
						</h4>
					</div>
					<div collclass="panel-collapse collapse">
						<div class="panel-body notes-text-size">
							<span> Notes </span>
							<textarea class="form-control" id="notes" rows="6" style="font-size:2.25vw;"></textarea>
						</div>
					</div>
				</div>
				</div> 
			</div>
			</div>
			<br> 	 	
		  	<button type="button" class="btn btn-primary btn-block" style=" white-space: normal" value="Submit" onclick="saveClient()">Save client</button>
	  	</form>
	  	</div>
	</body>
</html>