<!DOCTYPE html>
<html>
	<head> 
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	    <script type="text/javascript" src="javascripts/main.js"></script>
	    <script type="text/javascript" src="javascripts/clientPage.js"></script>
	    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
	</head>
	<body>
		<nav class='navbar navbar-default'>
		  <div class='container-fluid'>
		    <div class='navbar-header'>
		      <a class='navbar-brand' href='/home'> Hair Desire Salon Database </a>
		    </div>
		    <ul class='nav navbar-nav'>
		      <li class='active'><a href='/home'> Home </a></li>
		    </ul>
		  </div>
		</nav>

		<h1> Hair Desire Salon Client </h1>
		<p class='form-text text-muted'>Don't worry. We'll never share your information with anyone else.</p>
		<br> 
		<button id = 'editButton' style='display: inline; width: 50%; white-space: normal' onclick='turnOnEditMode()' class="btn btn-primary btn-block"> EDIT information </button>
		<button id = 'saveButton' style='display: none; width: 50%; white-space: normal' onclick='turnOffEditMode()' class="btn btn-primary btn-block"> SAVE information </button> 
		<div> 
		<form id ='new-client-form-center'> 
			<div class='form-group-group'>
		    	<div class='col-sm-6 col-form-label set-text-div-height'><span class='span-vertical-align'>First Name </span></div>
			    <div class="col-sm-6" id="first-name">
			      <span class="span-vertical-align">  </span>
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Last Name </span></div>
			    <div class="col-sm-6" id="last-name">
			      <span class="span-vertical-align">  </span>
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Phone Number </span></div>
			    <div class="col-sm-6" id="phone-number">
			      <span class="span-vertical-align">  </span>
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Email </span></div>
			    <div class="col-sm-6" id="email">
			      <span class="span-vertical-align">  </span>
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Address</span></div>
			    <div class="col-sm-6" id="address">
			      <span class="span-vertical-align">   </span>
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">City/Town</span></div>
			    <div class="col-sm-6" id="city">
			      <span class="span-vertical-align">   </span> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">State</span></div>
			    <div class="col-sm-6" id="state">
			      <span class="span-vertical-align">  </span> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Zip Code</span></div>
			    <div class="col-sm-6" id="zip">
			      <span class="span-vertical-align"> </span> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Medication used</span></div>
			    <div class="col-sm-6" id="medication">
			      <span class="span-vertical-align"> </span> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Surgery/pregnancy</span></div>
			    <div class="col-sm-6" id="surgery-or-pregnancy">
			      <span class="span-vertical-align">  </span> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Irritation/sensitivity</span></div>
			    <div class="col-sm-6" id="sensitivity">
			      <span class="span-vertical-align">  </span> 
				</div>
			</div>
			<br> 
			<br> 
			<br> 
		
		  	<div> 
		  		<div> 
		  			<span class="span-vertical-align">Visits</span>
		  		</div>
		  		<button onclick="return showNewVisitForm()" class="btn btn-primary btn-block" style="width:35vw; display: inline; white-space: normal "> + Add Visit </button>
				<br> 
				<br> 
				<div class="form-group-group" id="newVisitTA" style="display: none">
					<div class="panel-group" id="accordion-newvisit">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<span> New Visit </span>
								<div class="form-group row"> 
									<div class="col-xs-12 col-md-2 open-close-button margin-for-visit-header" style="padding-top:4.1%"> 
										<div style="float:right;">
										<button  onclick = "return exitNewVisitForm()" class='btn btn-primary btn-block' style="background: crimson; white-space: normal; font-size: 2.25vw;"> Close </button>

										</div>
										<br> 
									</div>
									<div class="col-xs-12 col-md-4 margin-for-visit-header" >
										<span> Date </span> 
										<br> 
										<input class="form-control box-height-and-font" type="date" id="date" style="font-size: 2.25vw;"/>
									</div>
									<div class="col-xs-12 col-md-3 margin-for-visit-header" >
										<span> Time </span> 
										<br>
										<input type="text" class="form-control box-height-and-font" id="time" style="font-size: 2.25vw;"/> 
									</div>
									<div class="col-xs-12 col-md-3 margin-for-visit-header">
										<span> Price </span> 
										<br> 
										<input type='number' class="form-control box-height-and-font" id="price" step='0.01' value='0.00' style="font-size: 2.25vw;"/>
									</div>
								</div>
							</h4>
						</div>
						<div collclass="panel-collapse collapse">
							<div class="panel-body notes-text-size">
								<span> Notes </span>
								<textarea class="form-control" id="notes" rows="6" style="font-size: 2.25vw;"></textarea>
								<br> 
						      	<button style="float: right; white-space: normal" class='btn btn-primary btn-block' onclick="return saveNewVisit()"> Save Visit </button>
						      	<br>
							</div>
						</div>
					</div>
					</div>
				</div>


				<div class="panel-group" id="accordion-visits">

				</div>

			</div>
	  	</form>
	  	</div>
	</body>
</html>