<!DOCTYPE html>
<html>
	<head> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<!-- Bootstrap -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="javascripts/main.js"></script>
	    <script type="text/javascript" src="javascripts/clientPage.js"></script>
	    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
	</head>
	<body>
		<nav class='navbar navbar-default'>
		  <div class='container-fluid'>
		    <div class='navbar-header'>
		      <a class='navbar-brand' href='/home'> Hair Deire Salon Database </a>
		    </div>
		    <ul class='nav navbar-nav'>
		      <li class='active'><a href='/home'> Home </a></li>
		    </ul>
		  </div>
		</nav>

		<h1> Hair Desire Salon Client </h1>
		<small class='form-text text-muted'>Don't worry. We'll never share your information with anyone else.</small>
		<br> 
		<button id = 'editButton' style='display: inline' onclick='turnOnEditMode()'> EDIT information </button>
		<button id = 'saveButton' style='display: none' onclick='turnOffEditMode()'> SAVE information </button> 
		<div> 
		<form id ='new-client-form-center'> 
			<div class='form-group-group'>
		    	<div class='col-sm-6 col-form-label set-text-div-height'><span class='span-vertical-align'>First Name </span></div>
			    <div class="col-sm-6" id="first-name">
			      <span class="span-vertical-align">  </span>
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Last Name </span></div>
			    <div class="col-sm-6" id="last-name">
			      <span class="span-vertical-align">  </span>
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Phone Number </span></div>
			    <div class="col-sm-6" id="phone-number">
			      <span class="span-vertical-align">  </span>
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Email </span></div>
			    <div class="col-sm-6" id="email">
			      <span class="span-vertical-align">  </span>
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Address</span></div>
			    <div class="col-sm-6" id="address">
			      <span class="span-vertical-align">   </span>
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">City/Town</span></div>
			    <div class="col-sm-6" id="city">
			      <span class="span-vertical-align">   </span> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">State</span></div>
			    <div class="col-sm-6" id="state">
			      <span class="span-vertical-align">  </span> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Zip Code</span></div>
			    <div class="col-sm-6" id="zip">
			      <span class="span-vertical-align"> </span> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Medication used</span></div>
			    <div class="col-sm-6" id="medication">
			      <span class="span-vertical-align"> </span> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Surgery/pregnancy</span></div>
			    <div class="col-sm-6" id="surgery-or-pregnancy">
			      <span class="span-vertical-align">  </span> 
				</div>
			</div>
			<br> 
			<div class="form-group-group">
		    	<div class="col-sm-6 col-form-label set-text-div-height"><span class="span-vertical-align">Irritation/sensitivity</span></div>
			    <div class="col-sm-6" id="sensitivity">
			      <span class="span-vertical-align">  </span> 
				</div>
			</div>
			<br> 

			
<!-- 			<div class="form-group-group">
		    	<div class="col-sm-4 col-form-label set-text-div-height" style="float: left; "><span class="span-vertical-align">Visits</span></div>
			</div> -->
			<br> 
			<br> 
			<br> 
		
		  	<div> 
		  		<div> 
		  			<h4> Visits </h4>
		  		</div>
		  		<button onclick="return showNewVisitForm()"> + Add Visit </button>
				<br> 
				<br> 
				<div class="form-group-group" id="newVisitTA" style="display: none">
					<hr width="100%"> 
					<div> 
						<h4> New Visit </h4>
					</div>
					<div class="form-group row"> 
						<div class="col-sm-1 float-right">
							<button onclick="return exitNewVisitForm()"> x </button>
							<br> 
						</div>
						<div class="col-sm-4">
							<span> Date </span> 
							<br> 
							<input class="form-control" type="date" id="date">
						</div>
						<div class="col-sm-3">
							<span> Time </span> 
							<br>
							<input type="text" class="form-control box-height-and-font" id="time" placeholder="0mins"> 
						</div>
						<div class="col-sm-3">
							<span> Price </span> 
							<br> 
							<input type='number' class="form-control box-height-and-font" id="price" step='0.01' value='0.00' placeholder='0.00' />
						</div>
						
					</div>
					<span> Notes </span>
					<textarea class="form-control" id="notes" rows="6"></textarea>
					<br> 
			      	<button style="float: right" onclick="return saveNewVisit()"> Save Visit </button>
			      	<br> 
			      	<hr width="100%"> 
		  		</div> 
			  	<ul class="list-group box-height-and-font" id = "visitsList">
					  <li class="list-group-item" id = "1" onclick="alert(id)"> September 3rd/24mins/5.00 </li>
					  <li class="list-group-item" id = "1" onclick="alert(id)"> September 4th/2mins/1.00 </li>
					  <li class="list-group-item" id = "1" onclick="alert(id)"> September 23rd/24mins/500.00 </li>
				</ul>
			</div>
	  	</form>
	  	</div>
	</body>
</html>