<!DOCTYPE html>
<html>
	<head> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<!-- Bootstrap -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="javascripts/main.js"></script>
	    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">

        <script>
		    // $( document ).ready(function() {
		    //     console.log( "document loaded" );
		    //     populateClientsList(); 
		    // });

		    $( window ).on( "load", function() {
		        console.log( "window loaded" );
		        populateClientsList(); 
		    });
	    </script>
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/home"> Hair Deire Salon Database </a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/home"> Home </a></li>
		    </ul>
		  </div>
		</nav>

		<h1> Find a customer </h1>
		<div class="search-bar-all"> 
			<div style="float:left;"> 
                <select class="form-control box-height-and-font" id="filterOption" name="filterOption">
					<option value="firstName"> First Name</option>
					<option value="lastName"> Last Name</option>
				</select>
			</div>
			<div style="float:right;"> 
				<button class="btn btn-default box-height-and-font" type="submit" onclick="findSearchResults(event)">
				<span class="glyphicon glyphicon-search"></span></button>
			</div>
			<div style="overflow: hidden;">
				<input type="text" class="form-control box-height-and-font" id="search-bar-input" placeholder="Search for client here" onkeyup="findSearchResults(event)">
			</div>
		</div>

		<div style="display:none;" id="results-client-whole"> 
			<div> <h4> Search Results </h4></div>
			<div class = "search-results" id="results-clients-list"> 
				<ul class="list-group box-height-and-font">
				  
				</ul>
			</div> 
			<br> 
			<br> 
			<br> 
		</div>

		<div> 
		<div> <h4> All Clients </h4></div>
		<div class = "search-results" id="all-clients-list"> 
			<ul class="list-group box-height-and-font">
			  <li class="list-group-item">Casey Alvarado</li>
			</ul>
		</div> 
		</div>



	</body>
</html>