<!DOCTYPE html>
<html>
	<head> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<!-- Bootstrap -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="javascripts/main.js"></script>
	    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">

        <script>
		    $( window ).on( "load", function() {
		        console.log( "window loaded" );
		        $('select[name="sortOption"]').change(function(){
				    if ($(this).val() == "lastnamesort")
				    	sortAndDisplayClients("lastnamesort"); 
				    else if ($(this).val() == "firstnamesort")
				    	sortAndDisplayClients("firstnamesort"); 
				    
				});
		    });
	    </script>
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/home"> Hair Deire Salon Database </a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="/home"> Home </a></li>
		    </ul>
		  </div>
		</nav>

		<h1> Clients Directory </h1>
		<div class="search-bar-all"> 
			<div style="float:left;"> 
                <select class="form-control box-height-and-font" id="filterOption" name="filterOption">
					<option value="firstName"> First Name</option>
					<option value="lastName"> Last Name</option>
				</select>
			</div>
			<div style="float:right;" style="font-size: 2vw; "> 
				<button class="btn btn-default box-height-and-font" type="submit" onclick="findSearchResults(event)" style="background: #337ab7; color: white;  margin-bottom: 10px;">
				<span class="glyphicon glyphicon-search" style="font-size: 2vw; "></span></button>
			</div>
			<div style="overflow: hidden;">
				<input type="text" class="form-control box-height-and-font" id="search-bar-input" placeholder="Search for client here" onkeyup="findSearchResults(event)">
			</div>
		</div>
		<div id="results-client-whole"> 
			<br> 
			<div class="search-results"> 
				<div style="display: inline; width:30%; "> Sort Clients By: </div> 
                <select class="form-control box-height-and-font" id="sortOption" name="sortOption" style="display: inline; width:30%; ">
					<option value="firstnamesort"> First Name</option>
					<option value="lastnamesort"> Last Name</option>
				</select>
			</div>
			<br>
			<br>  
			<div class = "search-results" id="results-clients-list"> 
				<ul class="list-group box-height-and-font" >
				  <% allClients.forEach(function(client) { %>
			        <li class='list-group-item' id='<%= client._id %>' onclick="loadClientPage(id)"> <%= client.firstName %> <%= client.lastName %></li>
			    <% }); %>
				</ul>
			</div> 
			<br> 
			<br> 
			<br> 
		</div>

	</body>
</html>