body {
	text-align:center;
}

hr{ 
	border-top: 1px solid black;
}

#new-client-form-center{ 
	display:inline-block;
	width:75%;
}


.form-group-group{ 
	margin-top: 3%; 
	margin-bottom: 3%;
}

.form-group-group .set-text-div-height{  
	height: 38px;
}

.span-vertical-align{ 
  font-size: 20px; 
  display: inline-block; 
  vertical-align: middle;
  line-height: 38px; 
  text-align: left; 
 }

.box-height-and-font{ 
  height:38px;
  font-size: 15px; 
 }

 #x-close{ 
 	float: right;
 }

.home-box{ 
	display:inline-block;
	width:40vw;
	background-color: lightgray; 
	border: 3px solid rgba(0,0,0,0.1); 
	margin: 25vh auto;
  	padding: 30px 38px 66px;
}

#login-form-center{ 
  display:inline-block;
  width:40vw;
  background-color: lightgray; 
  border: 3px solid rgba(0,0,0,0.1); 
  margin: 25vh auto;
  padding: 30px 38px 66px;
 }

#search-bar-all{ 
  display:inline-block;
  width:75%;
}

.search-results{ 
  display:inline-block;
  width:65%;
}

.search-bar-all{ 
  display:inline-block;
  width:85%;
}

.search-results li { 
  cursor: pointer;
}

.list-group-item:hover{ 
  background-color: #EE7621;
}

.float-right{ 
  float: right;
}